name: Health Check

on:
  push:

jobs:
  health-check:
    runs-on: ubuntu-latest

    steps:
      - name: Check server health
        uses: jtalk/url-health-check-action@v3
        with:
          url: https://full-stack-open-pokedex-v30a.onrender.com/health
          max-attempts: 3
          retry-delay: 5s
